@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --geomanist-font: "__geomanist_";
}

body {
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
